/* Write your CSS here! */
#mainHeading{
    background-color: blue;
    color: red;
    text-align: center;
 
}

.article-title{
    text-align: left;
    font-weight: bold;
}

#hydrabadImg{
    height: 250px;
    width: 700px;
}

#RamojiFilmCityImg{
    height: 250px;
    width: 300px;
}

#testP{
    font-family:'Times New Roman', Times, serif;
}

.funParagraph{
    text-align: justify;
    color: green;
}

